body {
  font-family: 'clear_sansregular', Arial, sans-serif;
}

h1 { 
  font-size: 33px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  margin: 40px 0px 10px 0px;
font-family: 'latolight', Arial, sans-serif; }

p { 
  width : 480px;
font-family: 'clear_sansregular', Arial, sans-serif; }

#time {
  margin-bottom: 30px;
  color: grey;
}
